﻿@model asp.net.exam.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            <form action="/" method="post" id="countForm">
                <input type="number" name="Id" value="@Model.Id" id="id" readonly hidden />
                <input type="number" name="Count" value="@Model.Count" id="count" readonly style="border:hidden"/>
            </form>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <div>
        <form action="/" method="post">
            <button class="btn btn-primary" id="btn-giveout">Выдать</button>
        </form>
    </div>
</div>

<script>
    $("#btn-giveout").on("click", function (e) {
        e.preventDefault();
         var dataCount = $("#countForm").serialize();
        $.post("/Book/GiveOut", dataCount, function (value) {
            console.log(value);
            $("#count").val(value);
        })
    });
    
</script>
